.full-container {
    margin: 0 auto;
    width: 700px;
}

.post-info {
    margin: 0 auto;
    width: 500px;
    border: 1px solid #000;
    padding: 10px;
}

.comments {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
}

.comment {
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.comment-form {
    border: 1px solid #000;
    padding: 15px;
    margin: 80px auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form input {
    width: 250px;
    height: 30px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
}

.delete {
    background: #ee472e;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    margin-bottom: 10px;
    outline: none;
    font-size: 15px;
}

.comment-form button {
    background: #3e9ad3;
    padding: 5px 10px;
    color: #fff;
    border: 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
}

.comment-form button:hover {
    cursor: pointer;
}

.comment-form label {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
}