.container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 15px;
}

.post {
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
}

.post img {
    width: 150px;
    height: 150px;
}

.post span {
    margin-top: 15px;
}

.post button {
    height: 30px;
    margin-top: 20px;
    border: 0;
    background: #3e9ad3;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.read-full {
    text-decoration: none;
    color: #fff;
    align-self: center;
}